In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python39\site-packages (2.2.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\Admin\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\Admin\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\Admin\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\Admin\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\Admin\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\Admin\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\Admin\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_3520/4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\Admin\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\Admin\anaconda3\lib\site-packages\numexpr\__init__.py", line 26, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\Admin\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\Admin\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\Admin\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\Admin\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\Admin\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\Admin\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\Admin\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\Admin\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_3520/4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\Admin\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\Admin\anaconda3\lib\site-packages\bottleneck\__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

In [3]:
pd.__version__

'2.2.2'

In [4]:
pip install --upgrade pandas --user

Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python39\site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [128]:
s1=pd.Series(['Doremon','Shinchan','Hattori','Motu'],index=[1,2,3,4])

In [129]:
print(s1)

1     Doremon
2    Shinchan
3     Hattori
4        Motu
dtype: object

In [130]:
s2=pd.Series([19,18,19,19],index=[1,2,3,4])

In [131]:
print(s2)

1    19
2    18
3    19
4    19
dtype: int64

# DATA FRAME

variable_name=pd.DataFrame(data,column=[column,name])

In [132]:
df1=pd.DataFrame(s1,columns=["Names"])

In [133]:
df1

      Names
1   Doremon
2  Shinchan
3   Hattori
4      Motu

In [134]:
df2=pd.DataFrame(s2,columns=["Age"])

In [135]:
df2

   Age
1   19
2   18
3   19
4   19

In [136]:
df1["Age"]=s2

In [137]:
df1

      Names  Age
1   Doremon   19
2  Shinchan   18
3   Hattori   19
4      Motu   19

In [138]:
s3=pd.Series(['Cse','Bio','Mech','Civil'],index=[1,2,3,4])

In [139]:
s3

1      Cse
2      Bio
3     Mech
4    Civil
dtype: object

In [140]:
df3=pd.DataFrame(s3,columns=["Department"])

In [141]:
df3

  Department
1        Cse
2        Bio
3       Mech
4      Civil

In [142]:
df1["Department"]=s3

In [143]:
df1

      Names  Age Department
1   Doremon   19        Cse
2  Shinchan   18        Bio
3   Hattori   19       Mech
4      Motu   19      Civil

In [125]:
Fruits={"Seed":{1:'Apple',2:'Orange',3:'Watermelon'},"Seedless":{1:'Grapes',2:'Pineapple',3:'Pappaya'}}

In [126]:
df4=pd.DataFrame(Fruits,columns=["Seed","Seedless"])

In [127]:
df4

         Seed   Seedless
1       Apple     Grapes
2      Orange  Pineapple
3  Watermelon    Pappaya

# ACTIVITY

In [144]:
df1["Department"]=s3

In [145]:
df1

      Names  Age Department
1   Doremon   19        Cse
2  Shinchan   18        Bio
3   Hattori   19       Mech
4      Motu   19      Civil

In [147]:
s4=pd.Series(['122012012859','122012012856','122012012857','122012012893'],index=[1,2,3,4])

In [148]:
s4

1    122012012859
2    122012012856
3    122012012857
4    122012012893
dtype: object

In [149]:
df5=pd.DataFrame(s4,columns=["Regno"])

In [150]:
df5

          Regno
1  122012012859
2  122012012856
3  122012012857
4  122012012893

In [151]:
s5=pd.Series(['2021','2022','2023','2024'],index=[1,2,3,4])

In [152]:
s5

1    2021
2    2022
3    2023
4    2024
dtype: object

In [153]:
df5=pd.DataFrame(s4,columns=["Year of study"])

In [154]:
df5

  Year of study
1  122012012859
2  122012012856
3  122012012857
4  122012012893

In [155]:
df1["Year of study"]=s5

In [156]:
df1

      Names  Age Department Year of study
1   Doremon   19        Cse          2021
2  Shinchan   18        Bio          2022
3   Hattori   19       Mech          2023
4      Motu   19      Civil          2024